* {
  box-sizing: border-box;
}
body,
ul,
li,
h1,
h2 {
  font-family: "微软雅黑";
  padding: 0;
  margin: 0;
  list-style: none;
}
html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.yellow {
  color: #FFDA28;
}
a,
h1,
h2 {
  color: #fff;
  text-decoration: none;
}
.nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 111;
  overflow: hidden;
  background: #168BD8;
  height: 60px;
}
.nav .min-navBox {
  display: none;
}
.nav .navBox {
  margin-left: -15px;
  margin-right: -15px;
  height: 100%;
}
.nav .navBox .navLogo {
  height: 40px;
  width: 142px;
  margin-top: 10px;
  float: left;
  background: url("../images/logo.png") no-repeat left top;
}
.nav .navBox .navCenter {
  height: 60px;
  font-size: 14px;
  width: 32%;
  float: right;
  line-height: 80px;
  text-align: justify;
  margin-right: 15%;
}
.nav .navBox .navCenter:after {
  content: "";
  height: 0;
  line-height: 0;
  width: 100%;
  font-size: 0;
  display: inline-block;
}
.nav .navBox .navCenter a {
  display: inline-block;
}
.nav .navBox .navRight {
  font-size: 12px;
  height: 100%;
  text-align: justify;
  float: right;
  width: 32%;
  line-height: 80px;
}
.nav .navBox .navRight a {
  display: inline-block;
}
.nav .navBox .navRight:after {
  content: "";
  height: 0;
  line-height: 0;
  width: 100%;
  font-size: 0;
  display: inline-block;
}
.floor1 {
  width: 100%;
  height: 100%;
  background: #3fb0ee url(../images/bg1.jpg) repeat center top;
}
.floor1 .cover .top {
  position: absolute;
  width: 100%;
  left: 0;
  top: -50px;
}
.floor1 .cover .top .cloud1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  animation: slideOutLeft 20s linear infinite;
}
.floor1 .cover .top .cloud1 img {
  width: 100%;
}
.floor1 .cover .middle {
  position: absolute;
  width: 100%;
  left: 0;
  top: 60px;
}
.floor1 .cover .middle .cloud2 {
  position: absolute;
  top: 0px;
  left: 460px;
  width: 100%;
  height: 1000px;
  animation: slideOutLeft 60s linear infinite;
}
.floor1 .cover .middle .cloud2 img {
  width: 100%;
}
.floor1 .cover .bot {
  position: absolute;
  width: 100%;
  left: 30px;
  top: 110px;
}
.floor1 .cover .bot .cloud3 {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 1000px;
  animation: slideOutLeft 40s linear infinite;
}
.floor1 .cover .bot .cloud3 img {
  width: 100%;
}
.floor1 .main1 {
  position: relative;
}
.floor1 .main1 .wenzi {
  width: 501px;
  height: 158px;
  background: url(../images/yuqing.png);
  position: absolute;
  left: 0;
  top: 100px;
}
.floor1 .main1 .feiji {
  width: 119px;
  height: 78px;
  background: url(../images/feiji.png);
  position: absolute;
  top: 90px;
  left: 286px;
  animation: slideInDown 2s linear infinite alternate;
}
.floor1 .main1 .chuan {
  width: 242px;
  height: 228px;
  background: url(../images/chuan.png);
  position: absolute;
  left: 150px;
  top: 328px;
  animation: slideInLeft 1s linear ;
}
.floor1 .main1 .bing1 {
  width: 265px;
  height: 175px;
  background: url(../images/bing1.png);
  position: absolute;
  left: -150px;
  top: 466px;
}
.floor1 .main1 .bing2 {
  width: 260px;
  height: 175px;
  background: url(../images/bing2.png);
  position: absolute;
  right: -100px;
  top: 466px;
}
.floor1 .main1 .bing3 {
  width: 63px;
  height: 78px;
  background: url(../images/bing3.png);
  position: absolute;
  right: 250px;
  top: 500px;
}
.floor1 .main1 .login {
  top: 150px;
  right: 0px;
  width: 340px;
  height: 290px;
  background: #4EBFFC;
  border-radius: 10px;
  position: absolute;
  overflow: hidden;
}
.floor1 .main1 .login .login-1 {
  position: relative;
  width: 300px;
  height: 40px;
  margin: 20px auto;
  background: #fff;
  line-height: 40px;
  padding-left: 10px;
}
.floor1 .main1 .login .login-2 {
  position: relative;
  width: 300px;
  height: 40px;
  margin: 0 auto;
  background: #fff;
  line-height: 40px;
  padding-left: 10px;
}
.floor1 .main1 .login .login-3 {
  position: relative;
  width: 100px;
  height: 40px;
  margin: 20px 20px;
  background: #fff;
  line-height: 40px;
  padding-left: 10px;
}
.floor1 .main1 .login .login-3 span {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 40px;
  background: #B7E4FD;
  margin-left: 140px;
  color: #204D66;
}
.floor1 .main1 .login .login-3 a {
  position: absolute;
  right: -195px;
  bottom: -11px;
  width: 50px;
  height: 50px;
  color: #fff;
}
.floor1 .main1 .login input {
  position: absolute;
  top: 0px;
  left: 30px;
  outline: none;
  width: 92%;
  height: 96%;
  border: none;
}
.floor1 .main1 .login-4 {
  position: relative;
  width: 300px;
  height: 40px;
  margin: 20px auto;
  line-height: 40px;
  padding-left: 10px;
}
.floor1 .main1 .login-4 .btn {
  background: #FFD850;
  display: block;
  width: 100%;
  height: 40px;
  color: #888;
  font-size: 20px;
}
.floor1 .floor1Bot {
  background: url(../images/bg1-1.jpg);
  position: absolute;
  top: 513px;
  right: 0;
  width: 100%;
  height: 180px;
  opacity: .5;
}
/*第二页*/
.floor2 {
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  background: #0d71cd url(../images/bg1-1.jpg) repeat center -126px;
  overflow: hidden;
}
.floor2 .text {
  position: absolute;
  top: 35%;
  left: 14%;
  color: #fff;
  animation: fadeInLeft 1s linear ;
}
.floor2 .text h1 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 48px;
  margin-bottom: 6px;
}
.floor2 .text span {
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 32px;
  opacity: .8;
}
.floor2 .linxian {
  /*-webkit-transform-origin: center center;*/
  transform-style:preserve-3d;
  perspective:1200px;
  position: absolute;
  left: 7%;
  top: 35%;
  background: url(../images/lingxian.png) no-repeat;
  width: 66px;
  height: 126px;
  animation: fadeInLeft 1s linear,mov 3s linear infinite;
}
@keyframes mov {
  0% {
    transform: rotate3d(0,1,0,0deg);
  }
   40% {
    transform: rotate3d(0,1,0,0deg);
  }
  100% {
    transform: rotate3d(0,1,0,360deg);
  }
}
.floor2 .shu {
  background: url(../images/f2-1f.png);
  width: 444px;
  height: 427px;
  float: right;
  margin-top: 10%;
  margin-right: 50px;
  animation: fadeInRight 1s linear;
}
.floor2 .shenlv {
  background: #35b568;
  bottom: 0;
  width: 44px;
  height: 44px;
}
.floor2 .dalv {
  background: #4ac179;
  display: block;
  width: 88px;
  height: 88px;
}
.floor2 .lianglv {
  background: #8ae75a;
  width: 44px;
  height: 44px;
  bottom: 0;
}
.floor2 .position {
  position: absolute;
}
.floor2 .kuai {
  width: 100%;
  height: 88px;
  bottom: 0;
  left: 0;
}
.floor2 .kuai .a {
  left: 40px;
}
.floor2 .kuai .b {
  left: 170px;
}
.floor2 .kuai .c {
  left: 257px;
}
.floor2 .kuai .d {
  right: 274px;
}
.floor2 .kuai .e {
  right: 200px;
}
.floor3 {
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background: #49c179 url(../images/bg3.jpg) repeat center -126px;
  overflow: hidden;
}
.floor3 .text {
  position: absolute;
  top: 35%;
  left: 14%;
  z-index: 10;
  color: #fff;
  animation: fadeInLeft 1s linear ;
}
.floor3 .text h1 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 48px;
  margin-bottom: 6px;
}
.floor3 .text span {
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 32px;
  opacity: .8;
}
.floor3 .linxian {
  z-index: 10;
  transform-origin: center -50%;
  position: absolute;
  left: 8%;
  top: 35%;
  background: url(../images/quanmian.png) no-repeat;
  width: 66px;
  height: 126px;
  animation: fadeInLeft 1s linear,mov 3s linear infinite;
}
.floor3 .shu {
  background: url(../images/f3-1.png) no-repeat;
  width: 444px;
  height: 427px;
  float: right;
  margin-top: 10%;
  animation: fadeInRight 1s linear;
}
.floor3 .kuai {
  width: 100%;
  height: 138px;
  bottom: 0;
  left: 0;
  background: url(../images/f3-bf.png);
}
.floor3 .square {
  width: 1000px;
  height: auto;
  background: red;
  position: absolute;
  left: 0;
  top: 60px;
}
.floor3 .square .square1 {
  background: #33bb9a;
  left: 70px;
}
.floor3 .square .square2 {
  background: #29a2b8;
  left: -18px;
  top: 86px;
}
.floor3 .square .square3 {
  background: #60cf6e;
  left: 158px;
  top: 86px;
}
.floor3 .square .square4 {
  z-index: 0;
  background: #8ae75a;
  left: 70px;
  top: 173px;
  width: 176px;
  height: 176px;
  background-image: url(../images/square4.jpg);
}
.floor3 .square .square5 {
  background: #33bb9a;
  left: 246px;
  top: 173px;
}
.floor3 .square .squares {
  width: 88px;
  height: 88px;
}
.floor3 .position {
  position: absolute;
}
.floor4 {
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background: #009a70 url(../images/f4-1.jpg) repeat center -126px;
  overflow: hidden;
}
.floor4 .text {
  position: absolute;
  top: 35%;
  left: 14%;
  color: #fff;
  animation: fadeInLeft 1s linear ;
  z-index: 10;
}
.floor4 .text h1 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 48px;
  margin-bottom: 6px;
}
.floor4 .text span {
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 32px;
  opacity: .8;
}
.floor4 .linxian {
  transform-origin: center -50%;
  position: absolute;
  left: 8%;
  top: 35%;
  background: url(../images/zhuanye.png) no-repeat;
  background-size:contain;
  width: 66px;
  height: 126px;
  animation: fadeInLeft 1s linear,mov 3s linear infinite;
  z-index: 10;
}
.floor4 .shu {
  background: url(../images/f4-2.png) no-repeat;
  width: 444px;
  height: 427px;
  float: right;
  margin-top: 10%;
  animation: fadeInRight 1s linear;
}
.floor4 .kuai {
  width: 100%;
  height: 138px;
  bottom: 0;
  left: 0;
  background: url(../images/f3-bf.png);
}
.floor4 .yuan {
  position: absolute;
  left: 12px;
  top: 157px;
  width: 275px;
  height: 245px;
  background: url(../images/yuan.png);
  z-index: 0;
}
.copy {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 80px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 80px;
}
@media screen and (max-width: 768px) {
  .nav {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navBox {
    display: none;
  }
  .floor1 {
    overflow: hidden !important;
  }
  .min-navBox {
    padding-left: 15px;
    padding-right: 15px;
    display: block !important;
    height: 100%;
    text-align: justify;
    line-height: 60px;
    vertical-align: middle;
  }
  .min-navBox:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    line-height: 0;
    font-size: 0;
  }
  .min-navBox div {
    display: inline-block;
  }
  .min-navBox .min-icon,
  .min-navBox .min-right {
    color: #fff;
  }
  .min-navBox .min-logo {
    height: 40px;
    width: 142px;
    margin-top: 10px;
    background: url(../images/logo.png) no-repeat;
  }
  .main1 {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main1 .wenzi {
    display: none;
    background-size: contain;
  }
  .main1 .feiji {
    position: absolute;
    width: 237px !important;
    left: 18% !important;
    transform: translateX(-50%) !important;
    margin-top: 5% !important;
  }
  .main1 .chuan {
    display: none;
  }
  .main1 .login {
    position: absolute !important;
    width: 70% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    margin-top: 5% !important;
  }
  .main1 .login .login-4 {
    width: 80% !important;
  }
  .main1 .login .login-3 {
    padding: 5px !important;
    position: relative;
    width: 90px;
    height: 40px;
    margin: 19px 16%!important;
    background: #fff;
    line-height: 40px;
  }
  .main1 .login .login-3 span {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    width: 70px !important;
    height: 40px;
    background: #B7E4FD;
    margin-left: 118px !important;
    color: #204D66;
  }
  input {
    position: absolute;
    top: 0px;
    left: 30px;
    outline: none;
    width: 62% !important;
    height: 96%;
    border: none;
  }
  .floor1Bot {
    height: 900px !important;
  }
  /*第二页*/
  .floor2 .text h1 {
    font-size: 80%;
  }
  .floor2 .text span {
    font-size: 76%;
  }
  .floor2 .linxian {
    width: 35px!important;
    height: 70px!important;
    background-size: contain;
    background-repeat: no-repeat;
    top:30%;
  }
  .floor2 .shu {
    width: 40%;
    height: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 60%;
  }
  .floor4 .yuan {
    position: absolute;
    left: 12px;
    top: 157px;
    width: 30%;
    height: 30%;
    background: url(../images/yuan.png) no-repeat;
    background-size: contain ;
    z-index: 0;
  }
}
